@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*デスクトップ用*/
@media (min-width: 1025px) {
  h1 {
      font-size: 3rem; /* 大きい画面用サイズ */
  }
}

/*スマホ用*/
@media (max-width: 600px) {
  h1 {
      font-size: 1.5rem; /* 小さい画面用サイズ */
  }

  .nav-list {
      flex-direction: column;
      gap: 0.5rem;
  }
}

/* タブレット用 */
@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
      font-size: 2.5rem; /* 中程度の画面用サイズ */
  }
}

/*共通部分*/
html{
    font-size: 30px;
}
header {
  background-image: url('path/to/your/logo.png');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: left center; 
}

h2 {
    font-family: 'Caveat', cursive;
}

img{
    max-width:4rem;
}

a {
    text-decoration: none;
    color: #333;
    font-family: 'Caveat', cursive;
    color:#fff;
}
.nav-list{
    display: flex;
    gap: 1rem;
    list-style: none;
}


body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8aa7a1;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden; /* マウスの位置を全体に対して取得するために必要 */
}
.spotlight {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(255,255,255,0.48) 0%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.01) 100%);
  border-radius: 50%;
  pointer-events: none; /* マウスイベントを無視する */
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
}
